<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link th:href="@{/css/home.css}" href="/css/home.css" rel="stylesheet" type="text/css" />
</head>
<body>





<div th:replace="fragments/fragment :: header"></div>



  <section class="sec-2">


    <div class=" d-flex justify-content-center text-center " style="padding-top: 250px;">
      <img th:src="@{/images/scope-india-logo-home-page.png}" class="img-fluid" alt=""></div>
  
  </section>
  <!-- ----------------------------------- -->
  <section class="img-carosil" >

    
 
  </section>

 <!-- ----------------------------------- -->

  <!-- call section call section call section call section call section-->
                      <div class="scope_know_snow " style="margin-top:-100px">
                <img th:src="@{/images/snowpark-home-slide-decoration-bottomm.png}" alt="" width="100%">
            </div>
  <section class="call-section" >


        <div class="call-section" >
        
                <div class="container   call-div"  >
                    <div class="container col d-flex call-div-next-div" >
                      <div class="col discuss-your-career" ><img th:src="@{/images/scope-india-lets-discuss-your-career.jpg}" alt="" height="500px" width="90%" ></div>
                   
                        <div class="call-div3">
                        <ul class="call-div3-heading" >               
                  <form action="/contact" method="POST">
                        <li><p class="h3 text-success fw-bolder heading">GET A FREE CALL BACK</p></li>
                        <li><input class="p-1 w-100  border border-dark" name="name" type="text" placeholder="enter your name"><br></li>
                        <li><input class="p-1 w-100  border border-dark" name="course" type="text" placeholder="enter course name"><br></li>
                        <li><input class="p-1 w-100  border border-dark" name="phone" type="tel" pattern="[0-9]{10,}" title="please enter 10 digit mobile number" placeholder="enter phone number"><br></li>
                        <li><input class="p-1 w-100  border border-dark" name="gmail" type="email" placeholder="enter your email"><br></li>
                        
                        <li><input class="fw-bolder call-btn1 bg-success text-light text-center" type="submit" value="Send mail"></li>
                    
                  </form>
                        </ul>
                    </div>
                    
                  </div>  
                </div>
             </div>




<div class="scope_know_head_home" >

  <div class="text-dark container scope_know_head_home_div1">
    <div class="container justify-content-center d-grid gap-3 scope_know_head_home_div2">

      <div class="text-center">
        <a href="" class="text-decoration-none">
          <img th:src="@{/images/5star.png}" alt="" class="img-fluid" style="max-height: 125px; width: auto; margin: 0 auto;">
          <p class="fw-bolder">Google 4.9 * Rated Institute</p>
        </a>
      </div>
<div class="container" >
    <div class="row">
        <div class="col">
            <h1 class="con-scop text-center fw-bolder sc_1">SCOPE INDIA, your career partner!</h1>
            <h2 class="text-center fw-bolder">One of the best Training Destination for Software, Networking and <br> Cloud Computing courses in India</h2>
            <p class="text-justify">Software, Networking, and Cloud Professional Education Centre in Kerala from Suffix E Solutions with WORKING PROFESSIONALS oriented on-the-job <b>TRAINING</b> model. SCOPE INDIA provides courses for Software Programming in Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning, Data Analytics), Java, PHP, .Net, <b>Software Testing Manual and Automation</b>, <b>Cloud Computing</b> (AWS | Azure), <b>Server Administration</b> (MCSE | RHCE), <b>Networking </b>(CCNA), <b>Mobile App Development in Flutter</b>, and <b>Digital Marketing </b>. Training with <b>100% Trusted Job</b> Based Internship Model. SCOPE INDIA has a Strong Placement Cell that provides jobs to thousands of students every year. We assure you, you won't regret it after training from SCOPE INDIA!
            </p>
            <p>This is how SCOPE INDIA can support both newbies and experienced in the industry to upgrade their skills.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="d-grid gap-4 fw-bold justify-content-center">
        <div class="col-6 col-sm-6 col-md-3">
            <div class="btn btns fs-5 text-light" style="background-color: violet;">Recent Placements</div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
            <div class="btn bg-primary btns fs-5 text-light">Courses</div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
            <div class="btn bg-success btns fs-5 text-light">Register Now!</div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
            <div class="btn bg-success btns fs-5 text-light">Chat WhatsApp Now</div>
        </div>
    </div>
</div>


<div class="container">
    <div class="d-grid justify-content-center align-items-center footer-traing-words">
        <div class="row" style="height: auto;">
            <div class="col-md-3">
                <div class="row d-flex justify-content-center">
                    <img th:src="@{/images/snowpark-home-icon1.png}" alt="">
                </div>
                <div class="row text-center">
                    <h1 class="big-text">Training</h1>
                    <p>You are trained under Suffix E Solutions working professionals, on-the-job training model.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row d-flex justify-content-center">
                    <img th:src="@{/images/snowpark-home-icon2.png}" alt="">
                </div>
                <div class="row text-center">
                    <h1 class="big-text">Internship</h1>
                    <p>After course completion, you will proceed to live projects with a 6-month experience certificate.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row d-flex justify-content-center">
                    <img th:src="@{/images/snowpark-home-icon3.png}" alt="">
                </div>
                <div class="row text-center">
                    <h1 class="big-text">Grooming</h1>
                    <p>CV Preparation, Interview Preparation, and Personality Development.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row d-flex justify-content-center">
                    <img th:src="@{/images/snowpark-home-icon4.png}" alt="" height="50px" width="50px">
                </div>
                <div class="row text-center">
                    <h1 class="big-text">Placement</h1>
                    <p>Gives 100% FREE placement support to all our fellow techies through SCOPE INDIA's Placement Cell.</p>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
  </div>
</div>



    <!--home page footer section home page footer section home page footer section-->



     <div th:replace="fragments/fragment ::footer" ></div>



  </section>

      <script>
   
  
    // Function to generate menu items

  
      // Loop through menuItems array and create menu items
    
  
    // Toggle mobile menu visibility
   
      function toggleMenu() {
        const mobileMenu = document.querySelector('#items');
        mobileMenu.classList.toggle('active');
    }
  </script>

</body>


</html>
