<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link th:href="@{/css/dashbord.css}" href="/css/dashbord.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/table.css}" href="/css/table.css">

<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/navbars/navbar-1/assets/css/navbar-1.css">
</head>



<body>
<section>
<div th:replace="fragments/dashbordfrag :: dashheader"></div>

<div th:replace="fragments/dashbordfrag :: sidenav"></div>






<div class="table_main_div" >

<div class="table_sub_div">
    <div class="d-flex">
        <div class="search_bar text-light"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div class="flex-grow-1">
            <form th:action="@{/table}" method="get">
                <div class="d-flex align-items-center">
                    <input class="form-control mr-2" type="search" name="search" placeholder="Search courses" style="height: 49px;width:75%; font-weight: bold; font-size: 17px;">
                    <button type="submit" class="btn btn-primary"style="width:100px;height:50px">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="scroll_div">
  <table class="table table-light   table-hover" >
      <thead >
          <tr class="position-sticky top-0 bottom-0 " style=" z-index: -1;">
              <th scope="col" class="fs-4 fw-bolder p-2 text center">#</th>
              <th scope="col" class="fs-4 fw-bolder p-2 text center">Course Name</th>
              <th scope="col" class="fs-4 fw-bolder p-2 text center">Duration</th>
              <th scope="col" class="fs-4 fw-bolder p-2 text center">Fees</th>
              <th scope="col" class="fs-4 fw-bolder p-2 text center">Sign-up</th>
          </tr>
      </thead>
      <tbody>
          
              
<tr scope="row" th:each="table_model, stat : ${table}"  >
    <td th:text="${stat.index + 1}"></td>
    <td th:text="${table_model.course_name}"></td>
    <td th:text="${table_model.duration}"></td>
    <td th:text="${table_model.fees}"></td>
    
    
    <td > <button class="btn hover-bg-warning add-up" type="button" th:onclick="'smile(' + ${table_model.id} + ')'"> Add-up</button> </td> 
    <!-- <td><a th:href="@{/add_mycourse/{id}(id=${table_model.id})}">Edit</a></td> --> 

</tr>

         
      </tbody>
  </table>
</div>
</div>

</section>

<script  th:inline="javascript">
  /*   function greetWorld(id) {
        alert("hello world" + id)
    } */
function smile(id) {
   
    fetch('/add_course/' + id, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
            // Add any other headers if necessary
        },
        // If you need to send any data in the request body, you can do it here
        // body: JSON.stringify({ key: value })
    })
    .then(response => {
        if (response.ok) {
            // Redirect to the '/table' page after successful POST request
            console.log(response)
             alert('Sucessfully add your course')
            window.location.href = '/table';
        } else {
            // Handle error responses if needed
              console.log(response)
                         alert('Failed to Add Course')
            console.error('Error:', response.statusText);
        }
    })
    .catch(error => {
        // Handle network errors
        console.error('Error:', error);
    });
}
</script>

</body>
</html>
  